<nav class="navbar">
  <div class="nav-left">
    <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-item" href="">
          <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-store/global/default/storefront/addon/public/img/ric-lol-icon.svg" alt="League" />
          <span>League</span>
        </a>
      </li>
      <li class="nav-item disabled">
        <img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-tft/global/default/images/tft-icon.svg" alt="TFT" />
        <span>TFT</span>
      </li>
    </ul>
  </div>

  <div class="player-search">
    <div class="row">
      <input class="input" [(ngModel)]="nameAndTag" placeholder="Example: Summoner#EUW" />
      <select class="input" [(ngModel)]="region">
        <option value="EUW">EUW</option>
        <option value="RU">RU</option>
        <option value="NA">NA</option>
        <option value="OCE">OCE</option>
        <option value="TR">TR</option>
        <option value="LAN">LAN</option>
        <option value="EUNE">EUNE</option>
      </select>
      <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
  </div>

  <div class="nav-right">
    <select class="input small" [value]="currentLang" (change)="switchLang($any($event.target).value)">
      <option value="en">EN</option>
      <option value="et">ET</option>
    </select>
    <button class="btn btn-outline medium" (click)="toggleTheme()">🌓</button>
    <button class="btn btn-primary small">Sign in</button>
  </div>
</nav>

